<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KoboldEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KoboldEdit.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>zxcv</value>
            </setting>
            <setting name="baseDB" serializeAs="String">
                <value>kobold</value>
            </setting>
        </KoboldEdit.Properties.Settings>
    </userSettings>
</configuration>